<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body class="index">
    <form action="/" method="POST">
      <section class="form-register">
        <h4>Ingreso de HC</h4>
        <input class="controls" type="number" name="hc" id="hc" placeholder="HC">
          <% if (locals.errors && errors.hc) { %>
            <span class="errores"><%= errors.hc.msg %> </span>
          <% } %>
        <input class="controls" type="text" name="firstname" id="firstname" placeholder="Nombre" >
          <% if (locals.errors && errors.firstname) { %>
            <span class="errores"><%= errors.firstname.msg %> </span>
          <% } %>
        <input class="controls" type="text" name="lastname" id="lastname" placeholder="Apellido">
          <% if (locals.errors && errors.lastname) { %>
            <span class="errores"><%= errors.lastname.msg %> </span>
          <% } %>
        <input class="controls" type="date" name="lastAppointment" id="lastAppointment" placeholder="Ultimo registro">
          <% if (locals.errors && errors.lastAppointment) { %>
            <span class="errores"><%= errors.lastAppointment.msg %> </span>
          <% } %>
        <input class="controls" type="text" name="box" id="box" placeholder="Ingrese caja">
          <% if (locals.errors && errors.box) { %>
            <span class="errores"><%= errors.box.msg %> </span>
          <% } %>
        <input class="botons" type="submit" value="Registrar">
      </section>
    </form>
    
  
  </body>
</html>
