<%- include('./partials/head') %>

  <body class="listado">
    <%- include('./partials/headerConBuscador') %>
      <section>
        <table class="table table-hover">
          <p class="w-5">
            Total de registros: 
            <%= historias.reduce((maxId, historia)=> Math.max(maxId, historia.id), 0) %>
          </p>
          <thead class="">
            <tr class="form-header">
              <th scope="col">HISTORIA CLINICA</th>
              <th scope="col">ULTIMO REGISTRO</th>
              <th scope="col">NOMBRE Y APELLIDO</th>
              <th scope="col" class="detail">#</th>
            </tr>
          </thead>
          <tbody id="fila">

            <% historias.forEach(historia=> { %>
              <tr id="tr">
                <td id="hc">
                  <%= historia.hc %>
                </td>
                <td id="ultimoRegistro">
                  <%= obtenerFecha(historia.ultimoRegistro) %>
                </td>
                <td id="persona">
                  <%= capitalizarPrimeraLetra(historia.persona.nombre) %>
                    <%= capitalizarPrimeraLetra(historia.persona.apellido) %>
                </td>

                <td scope="row" class="detail">
                  <a href="/hc/<%= historia.id %>" ><i class="fas fa-male"></i></a>
                </td>
                <% }) %>
              </tr>
          </tbody>
        </table>
      </section>

      <script src="/js/Buscador.js"></script>
      <script src="/js/paraDestruccion.js"></script>
  </body>

  </html>