
<%- include('./partials/head') %> 

<body class="listado">
  <%- include('./partials/header') %> 
  <section class="m-5">
        <table class="table table-dark table-hover">
          <thead>
            <tr class="form-header">
              <th scope="col">#</th>
              <th scope="col">HISTORIA CLINICA</th>
              <th scope="col">ULTIMO REGISTRO</th>
              <th scope="col">DNI</th>
              <th scope="col">NOMBRE</th>
              <th scope="col">APELLIDO</th>
              <th scope="col">CAJA</th>
            </tr>
          </thead>
          <tbody>

            <% historias.forEach(historia=> { %>
              <tr>
                <th scope="row"><%= historia.id %></th>
                <td><%= historia.hc %></td>
                <td><%= obtenerFecha(historia.ultimoRegistro) %></td>
                <td><%= obtenerNumeros(historia.hc) %></td>
                <td><%= capitalizarPrimeraLetra(historia.persona.nombre) %></td>
                <td><%= capitalizarPrimeraLetra(historia.persona.apellido) %></td>
                <td><%= historia.caja.codigoBarras %></td>
                <% }) %>
              </tr>
          </tbody>
        </table>
  </section>

  <script src="/js/Validations.js"></script>
</body>

</html>