<%- include('./partials/head') %>

  <body class="listado">
    <%- include('./partials/header') %>
      <section>

        <table class="table table-hover">
          <div class="search-length">
            <p class="m-0 align-self-center">
              Total de registros:
              <%= historias.length%>
            </p>
            <div class="d-flex search">
              <form id="searchForm">
                <input id="searchInput" class="form-control" type="search" placeholder="Buscar" aria-label="Search">
              </form>
            </div>
          </div>
          <thead class="">
            <tr class="form-header">
              <th scope="col">HISTORIA CLÍNICA</th>
              <th scope="col">ÚLTIMO REGISTRO</th>
              <th scope="col">NOMBRE Y APELLIDO</th>
              <th scope="col" class="detail"></th>
            </tr>
          </thead>
          <tbody id="fila">

            <% historias.forEach(historia=> { %>
              <tr id="tr">
                <td id="hc">
                  <%= historia.hc %>
                </td>
                <td id="ultimoRegistro">
                  <%= obtenerFecha(historia.ultimoRegistro) %>
                </td>
                <td id="persona">
                  <%= capitalizarPrimeraLetra(historia.persona.nombre) +' '+ capitalizarPrimeraLetra(historia.persona.apellido) %>
                </td>

                <td scope="row" class="detail">
                  <a href="/hc/<%= historia.id %>" ><i class="fa-solid fa-circle-info"></i></a>
                </td>
                <% }) %>
              </tr>
          </tbody>
        </table>
      </section>

      <script src="/js/Buscador.js"></script>
      <script src="/js/paraDestruccion.js"></script>
  </body>

  </html>