<%- include('./partials/head') %>


    <body class="login">
        <%- include('./partials/header') %>

            <form action="/login" method="POST" id="form" class="form">
                <section class="form-register ">
                    <h4 class="text-center">Inicio de Sesi칩n</h4>
                    <div class="div-datos">
                        <h5 class="p-2">Ingrese Usuario:</h5>
                        <input class="controls" type="text" name="user" id="user" placeholder="Usuario" data-index="0">
                        <div class="login-alert"> 
                            <small class="text-danger small">
                                <%= locals.errors && errors.user ? errors.user.msg : null %>
                            </small>
                        </div>
                    </div>
                    <div class="div-datos">
                        <h5 class="p-2">Ingrese Contrase침a:</h5>
                        <input class="controls" type="password" name="pass" id="pass" placeholder="Contrase침a"
                            data-index="1">
                        <div class="login-alert"> 
                            <small class="text-danger small">
                                <%= locals.errors && errors.pass ? errors.pass.msg : null %>
                            </small>
                        </div>
                    </div>
                    <button class="botons" id="btnModalSubmit" type="submit">Iniciar sesi칩n</button>
                    <div>
                        <% if (locals.userLogin) { %>
                            <span>Inicio sesion</span>
                            <span><%- locals.userLogin.usuario %></span>
                            <% } %>
                    </div>
                </section>

            </form>
    </body>

    </html>