<%- include('./partials/head') %>

  <body class="index paciente">
    <%- include('./partials/header') %>
      <form action="" method="POST" id="form" class="form">
        <section class="form-register ">
          <h4 class="text-center">Historia clínica del paciente</h4>
          <div class="div-datos">
            <h5 class="p-2">Historia clínica:</h5>
            <p class="p-2">
              <%= historia.hc %>
            </p>
          </div>
          <div class="div-datos">
            <h5>Nombre:</h5>
            <p>
              <%= historia.persona.nombre%>
            </p>
          </div>
          <div class="div-datos">
            <h5>Apellido:</h5>
            <p>
              <%= historia.persona.apellido%>
            </p>
          </div>
          <div class="div-datos">
            <h5>DNI:</h5>
            <p>
              <%= historia.persona.dni%>
            </p>
          </div>
          <div class="div-datos">
            <h5>Último registro:</h5>
            <p>
              <%= obtenerFecha(historia.ultimoRegistro) %>
            </p>
          </div>
          <div class="div-datos">
            <h5>Código de barras:</h5>
            <p>
              <%= historia.caja.codigoBarras %>
            </p>
          </div>
          <!-- <form action="/delete/<%= historia.id %>?_method=DELETE" method="POST">
              <button class="btn text-light" type='submit'>eliminar</button>
          </form> -->
        </section>

      </form>
  </body>

  </html>