<%- include('./partials/head') %>

  <body class="index">
    <%- include('./partials/header') %>
      <form action="" method="POST" id="form" class="form">
        <section class="form-register ">
          <h4>Ingreso de Historia Clinica</h4>
          <h5 for="lastAppointment">Historia clinica:</h5>
          <p>
            <%= historia.hc %>
          </p>
          <h5 for="lastAppointment">Nombre:</h5>
          <p>
            <%= historia.persona.nombre%>
          </p>
          <h5 for="lastAppointment">Apelldio:</h5>
          <p>
            <%= historia.persona.apellido%>
          </p>
          <h5 for="lastAppointment">Ultimo registro:</h5>
          <p>
            <%= obtenerFecha(historia.ultimoRegistro) %>
          </p>
          <h5 for="lastAppointment">Codigo de barras:</h5>
          <p>
            <%= historia.caja.codigoBarras %>
          </p>

        </section>

      </form>

      <script src="/js/Validations.js"></script>
  </body>

  </html>